<body>
  <style>
    .nav-link{
      padding: .7rem 1rem;
      font-size: 1.1rem;
    }
    .nav-link:hover{
      background-color: rgb(30,30,30);
    }
    .myedits{
      background-color: transparent;
      /* border: .03rem solid white; */
      outline:none;
      border:none;
      width: 4rem;
    }
    .myedits:hover{
      background-color: rgb(30,30,30);
      border: .03rem solid white; 
    }
  </style>
  <% if (writer ) { %>
  
  <div class="offcanvas offcanvas-start" style="color: white;background-color: rgb(11,11,11);"tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h3 class="offcanvas-title" style="padding: 0rem .9rem;" id="offcanvasExampleLabel">News Flash</h3>
      <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <a class='nav-link' href="/articles/new">Article Editor</a>
      <a class='nav-link' href="/articles/menu">Your Article Dashboard</a>
      <a class='nav-link' href="/articles/order">Order Articles</a>
      <a class='nav-link' href="/users">User Dashboard</a>
      <a class='nav-link' href="/users/new">Edit Name</a>
    </div>
  </div>
  <% } %>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <div class='d-flex'>
        <% if (writer ) { %>
        <button class="btn btn-primary myedits" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
            <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
            <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
          </svg>
        </button>  
        <% } %>      
        <a class="navbar-nav nav-clean nav-brand" href="/">News Flash</a>
      </div>
      <div class='d-flex'>
        <a class="navbar-nav nav-clean" href="/articles">All</a>
        <a class="navbar-nav nav-clean" href="/articles?type=U.S.">U.S.</a>
        <a class="navbar-nav nav-clean" href="/articles?type=World">World</a>
        <a class="navbar-nav nav-clean" href="/articles?type=Politics">Politics</a>
        <a class="navbar-nav nav-clean" href="/articles?type=Opinion">Opinion</a>
      </div>
      <div class="d-flex">
        <% if(logged) {%>
          <a class='navbar-nav nav-clean' href="/articles/history">View History</a>
          <a class='navbar-nav nav-clean' href="/logout">Log Out</a>
        <% } else { %>
          <a class="navbar-nav nav-clean" href="/auth/google">Log in</a>
        <% } %>
      </div>
    </div>
  </nav>