<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="News Flash - Two Minute News">
    <link href='src/css/bootstrap-css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='src/css/style.css' rel='stylesheet' type='text/css'>
    <title>News Flash</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <div>
          <a class="navbar-nav nav-clean" href="#">News Flash</a>
        </div>
        <div class='d-flex'>
          <a class="navbar-nav nav-clean">U.S.</a>
          <a class="navbar-nav nav-clean">World</a>
          <a class="navbar-nav nav-clean">Politics</a>
          <a class="navbar-nav nav-clean">Opinion</a>
        </div>
        <div class='d-flex'>
          <a class="navbar-nav nav-clean">Edit Articles</a>
          <a class="navbar-nav nav-clean">Log Out</a>
        </div>
      </div>
    </nav>
    <div class='main'>
      <div class='s sixty-wide'>
        <h1 class='t-label'>Article Editor</h1>
        <h3 class='t-label'>Title:</h3>
        <input class='t-input' type="text" name="title" id="create-a-title">
        <h3 class='t-label'>Content:</h3>
        <textarea  class='t-input' id='create-a-content' name='a-content'></textarea>
        <h3 class='t-label'>Tags:</h3>
        <div class='t-input d-flex'>
          <label class='t-label create-tag' for='US'>U.S.</label>
          <input type="checkbox" name="US" id="US">
          <label class='t-label create-tag' for='World'>World</label>
          <input type="checkbox" name="World" id="World">
          <label class='t-label create-tag' for='Politics'>Politics</label>
          <input type="checkbox" name="Politics" id="Politics">
          <label class='t-label create-tag' for='Opinion'>Opinion</label>
          <input type="checkbox" name="Opinion" id="Opinion">
        </div>
        <button class='t-input' id='publish'>Publish</button>
      </div>
      <div class='s forty-wide start-top'>
        <h1 class='t-label'>Article Preview</h1>
        <div class='preview-container bot-space'>
          
        </div>
        <h1 class='t-label '>Image Slide:</h1>
        <input type='file' class="t-input">
        <h3 class='t-label'>Description:</h3>
        <textarea  class='t-input' id='create-a-description'></textarea>
        <h3 class='t-label'>Preview:</h3>
        <div class='preview-container bot-space'>
          
        </div>
        <h2 class='t-label'>Statistics:</h2>
        <div class='t-input'>
          <h5 class="t-label">Views: 0</h5>
          <h5 class="t-label">Unique Viewers: 0</h5>
          <h5 class="t-label">Likes: 0</h5>
        </div>
      </div>
    </div>
    <script src='src/js/bootstrap-js/bootstrap.min.js'></script>
  </body>
  <footer>

  </footer>
</html>