<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="News Flash - Two Minute News">
    <link href='src/css/bootstrap-css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='src/css/style.css' rel='stylesheet' type='text/css'>
    <title>News Flash</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <div>
          <a class="navbar-nav nav-clean" href="#">News Flash</a>
        </div>
        <div class='d-flex'>
          <a class="navbar-nav nav-clean">U.S.</a>
          <a class="navbar-nav nav-clean">World</a>
          <a class="navbar-nav nav-clean">Politics</a>
          <a class="navbar-nav nav-clean">Opinion</a>
        </div>
        <div class='d-flex'>
          <a class="navbar-nav nav-clean">Edit Articles</a>
          <a class="navbar-nav nav-clean">Log Out</a>
        </div>
      </div>
    </nav>
    <div class='main'>
      <div class='col center'>
        <h1 class='a-title bot-space'>Your Articles</h1>
        <table class="a-tab">
          <tr class='top-row'>
            <td class='tab-head t-label'>Name</td>
            <td class='tab-head t-label'>Publish Date</td>
            <td class='tab-head t-label'>View Count</td>
            <td class='tab-head t-label'>Options</td>
          </tr>
          <tr>
            <td class='tab-reg t-label'>The World is Dying: Climate...</td>
            <td class='tab-reg t-label'>02/23/23</td>
            <td class='tab-reg t-label'>23</td>
            <td class='tab-reg t-label'>Edit Delete</td>
          </tr>
          <tr>
            <td class='tab-reg t-label'>The World is Dying: Climate...</td>
            <td class='tab-reg t-label'>02/23/23</td>
            <td class='tab-reg t-label'>23</td>
            <td class='tab-reg t-label'>Edit Delete</td>
          </tr>
          <tr>
            <td class='tab-reg t-label'>The World is Dying: Climate...</td>
            <td class='tab-reg t-label'>02/23/23</td>
            <td class='tab-reg t-label'>23</td>
            <td class='tab-reg t-label'>Edit Delete</td>
          </tr>
        </table>
      </div>
    </div>
    <script src='src/js/bootstrap-js/bootstrap.min.js'></script>
  </body>
  <footer>

  </footer>
</html>