<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs", {logged: false, writer: writer}) %>
<div class="main col center">
  <h1 class="a-title">News Flash</h1>
  <button class='t-input' style="width: 12rem;" onclick="window.location.href = '/auth/google'">Get Started</button>
</div>
<%- include("partials/footer.ejs") %>