<%- include('partials/header') -%>
<%- include('partials/navbar', {logged: false, writer: false}) -%>
<div class="main center full col">
  <h1 class='a-title'>News Flash</h1>
  <h4 class='a-title'> Successfully logged out.</h4>
  <button class="t-input forty-wide" onclick="window.location.href='/'">Return to home</button>
</div>

<%- include('partials/footer') -%>