<div class='main'>
  <div class='col center'>
    <h1 class='a-title bot-space'>Your Articles</h1>
    <table class="a-tab">
      <tr class='top-row'>
        <td class='tab-head t-label'>Name</td>
        <td class='tab-head t-label'>Publish Date</td>
        <td class='tab-head t-label'>View Count</td>
        <td class='tab-head t-label'>Options</td>
      </tr>
      <tr>
        <td class='tab-reg t-label'>The World is Dying: Climate...</td>
        <td class='tab-reg t-label'>02/23/23</td>
        <td class='tab-reg t-label'>23</td>
        <td class='tab-reg t-label'>Edit Delete</td>
      </tr>
      <tr>
        <td class='tab-reg t-label'>The World is Dying: Climate...</td>
        <td class='tab-reg t-label'>02/23/23</td>
        <td class='tab-reg t-label'>23</td>
        <td class='tab-reg t-label'>Edit Delete</td>
      </tr>
      <tr>
        <td class='tab-reg t-label'>The World is Dying: Climate...</td>
        <td class='tab-reg t-label'>02/23/23</td>
        <td class='tab-reg t-label'>23</td>
        <td class='tab-reg t-label'>Edit Delete</td>
      </tr>
    </table>
  </div>
</div>