<div class='articles'>
  <div class='article-container'>
    <!-- <span class='light'></span> -->
    <div class='s'>
      <h3 class='a-date'>Thursday, February 23rd, 2023</h3>
      <h1 class="a-title">The World is Dying: Climate Change is now Irreversible, Scientists Say</h1>
      <h4 class='a-author'>by Matthew Chin</h4>
    </div>
    <div class='s'>
      <p class='a-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum leo quam, dignissim bibendum volutpat eu, dictum a mi. Suspendisse potenti. In accumsan arcu eget hendrerit dignissim. Aliquam erat volutpat. Quisque auctor velit eget metus imperdiet, a rhoncus metus feugiat. Sed suscipit erat euismod risus ullamcorper, et facilisis nisl porttitor. Pellentesque sagittis tristique enim ut eleifend. Cras porttitor, massa in suscipit vehicula, libero dolor ultricies enim, at convallis tortor turpis eget est. In hac habitasse platea dictumst. Pellentesque efficitur, mi ac rutrum suscipit, libero justo sagittis sapien, id sodales felis purus vel purus. </p>
      <p class='a-content'>Mauris consequat orci ut ex molestie dignissim. Nunc nec bibendum lectus. Quisque eget nulla libero. Suspendisse potenti. Nulla porttitor, velit in luctus sollicitudin, metus neque feugiat ipsum, quis vulputate purus lacus ut odio. Suspendisse potenti. Vestibulum libero urna, ultricies aliquet vestibulum at, tincidunt eget mauris. Maecenas sed aliquet velit. Vestibulum cursus, tortor sit amet commodo vestibulum, elit dolor.</p>
    </div>
  </div>

  <div class='article-container'>
    <!-- <span class='light'></span> -->
    <div class='s'>
      <p class='a-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum leo quam, dignissim bibendum volutpat eu, dictum a mi. Suspendisse potenti. In accumsan arcu eget hendrerit dignissim. Aliquam erat volutpat. Quisque auctor velit eget metus imperdiet, a rhoncus metus feugiat. Sed suscipit erat euismod risus ullamcorper, et facilisis nisl porttitor. Pellentesque sagittis tristique enim ut eleifend. Cras porttitor, massa in suscipit vehicula, libero dolor ultricies enim, at convallis tortor turpis eget est. In hac habitasse platea dictumst. Pellentesque efficitur, mi ac rutrum suscipit, libero justo sagittis sapien, id sodales felis purus vel purus. </p>
      <p class='a-content'>Mauris consequat orci ut ex molestie dignissim. Nunc nec bibendum lectus. Quisque eget nulla libero. Suspendisse potenti. Nulla porttitor, velit in luctus sollicitudin, metus neque feugiat ipsum, quis vulputate purus lacus ut odio. Suspendisse potenti. Vestibulum libero urna, ultricies aliquet vestibulum at, tincidunt eget mauris. Maecenas sed aliquet velit. Vestibulum cursus, tortor sit amet commodo vestibulum, elit dolor.</p>
    </div>
    <div class='s'>
      <h3 class='a-date'>Thursday, February 23rd, 2023</h3>
      <h1 class="a-title">The World is Dying: Climate Change is now Irreversible, Scientists Say</h1>
      <h4 class='a-author'>by Matthew Chin</h4>
    </div>
  </div>
  <div class='article-container'>
    <img class='a-image' src="src/images/0.png">
    <div class='s'>
      <h3 class='a-title'>The World is Dying: Climate Change is now Irreversible, Scientists Say</h3>
      <h4 class='a-author'>A quick description of what this image is showing and how it is relevant.</h4>
      <h6 class='a-source'>Source: source name</h6>
    </div>
  </div>
  <div class='article-container'>
    <!-- <span class='light'></span> -->
    <div class='s'>
      <h3 class='a-date'>Thursday, February 23rd, 2023</h3>
      <h1 class="a-title">The World is Dying: Climate Change is now Irreversible, Scientists Say</h1>
      <h4 class='a-author'>by Matthew Chin</h4>
    </div>
    <div class='s'>
      <p class='a-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum leo quam, dignissim bibendum volutpat eu, dictum a mi. Suspendisse potenti. In accumsan arcu eget hendrerit dignissim. Aliquam erat volutpat. Quisque auctor velit eget metus imperdiet, a rhoncus metus feugiat. Sed suscipit erat euismod risus ullamcorper, et facilisis nisl porttitor. Pellentesque sagittis tristique enim ut eleifend. Cras porttitor, massa in suscipit vehicula, libero dolor ultricies enim, at convallis tortor turpis eget est. In hac habitasse platea dictumst. Pellentesque efficitur, mi ac rutrum suscipit, libero justo sagittis sapien, id sodales felis purus vel purus. </p>
      <p class='a-content'>Mauris consequat orci ut ex molestie dignissim. Nunc nec bibendum lectus. Quisque eget nulla libero. Suspendisse potenti. Nulla porttitor, velit in luctus sollicitudin, metus neque feugiat ipsum, quis vulputate purus lacus ut odio. Suspendisse potenti. Vestibulum libero urna, ultricies aliquet vestibulum at, tincidunt eget mauris. Maecenas sed aliquet velit. Vestibulum cursus, tortor sit amet commodo vestibulum, elit dolor.</p>
    </div>
  </div>
</div>